          
            body {
                 margin:0; 
                 padding:0;
              
            }
            /*table {
	            border-width: 1px;
	            border-spacing: 0px;
	            border-style: solid;
	            border-color: black;
	            border-collapse: collapse;
	            background-color: white;
            }
            table th {
	            border-width: 1px;
	            padding: 2px;
	            border-style: solid;
	            border-color: black;
	            background-color: black;
                color: white;
            }
            table th a{
                color: white;
            }
            table td {
	            border-width: 1px;
	            padding: 2px;
	            border-style: solid;
	            border-color: black;	          
            }*/          
            #header_container {
                 background: #678597; 
                 color: white; 
                 height:auto; 
                 left:0; 
                 position:relative; 
                 width:100%; 
                 top:0;
            }
            #header {
                 line-height:60px; 
                 margin:0;
                width:100%; 
                 position:relative;
                 padding: 0px; 
                 font-weight: bold;
                 font-size: 18pt;
                display: inline-block;
            }
            #header i {
                margin-left: 15px;
            }
            #header a, #header a:valid, #header a:active, #header a:hover {
                position:relative;
                color: white;
                padding-right: 50px;
                padding-left: 50px;
            }
            #container {
                 margin:0; 
                 padding:0px;
                width: 75%;
                 position:relative;
                left: 13%;
                right: 12%
            }
            #content {
                 margin:0; 
                 padding:0px;
                width: 100%;
                 position:relative;
                 
            }
            

            input[type=text], input[type=password], select, textarea  
            {
                width: 200px;               
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }

            .control-label {
                width: 120px;
                display: inline-block;
                vertical-align: top;
            }
            .field-validation-error {
                color: red;
                vertical-align: top;
                padding-left: 5px;
            }
            .validation-summary-errors {
                color: red;
            }

           
input[type=button], input[type=submit], button {
    width: 120px;
    border-color:rgb(221, 221, 221);
    border-radius: 5px;
     padding-bottom: 0px;
    padding-top: 0px;
}

#addnewAttach {
    
    margin: 5px;
    width: 115px;
    padding-bottom: 0px;
    padding-top: 0px;
 }
.create-form {
    margin-top: 50px;
}

/*#ajaxLoader {
    visibility: hidden;
    margin:0 auto;
     z-index:15;
     top:50%;
     left:50%;
}*/

.ajax-loading-block-window{position:fixed;top:50%;left:50%;width:128px;height:128px;overflow:hidden;z-index:1104;}
.ajax-loading-block-window .loading-image{position:absolute;top:0;left:0;width:128px;height:128px;background-image:url('img/ajax_loader_large.gif');}

#det_description {
 
    width: 1000px;
    height: 20px;
    resize: none;
    overflow: hidden;
}

#det_summary {
    width: 1000px;
}

#summary_to_create {
    width: 1000px;
}

#description_to_create {
    width: 1000px;
    height: 200px;
}
select {
    height: 26px;
}
#grid {
    height: 100%;
}

#refresh {
    margin: 5px;
}

#dateFrom, #dateTo {
    padding: 0px;
}
.k-icon  {
    margin-bottom: 5px;

}



    