@using HelloWorld.Models
@model HelloWorld.Models.Issue

@{
    ViewBag.Title = "Create Issue";
}

<h2>@ViewBag.Title</h2>

<link href="~/Content/Layout.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" />
<script src="~/Scripts/libs/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/libs/jquery.autosize.js"></script>
<script src="~/Scripts/libs/jquery.autosize.min.js"></script>
<link href="~/Content/kendo/filters.css" rel="stylesheet" />
<script src="~/Scripts/kendo/kendo.core.min.js"></script>
<script src="~/Scripts/kendo/kendo.grid.min.js"></script>
<script src="~/Scripts/kendo/kendo.web.min.js"></script>
<script src="~/Scripts/kendo/kendo.all.js"></script>
<link href="~/Content/kendo/kendo.dataviz.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.dataviz.default.css" rel="stylesheet" />
<script src="~/Scripts/Grid/CreateIssue.js"></script>


<form id="creatingForm" style="text-align: left">
    <div class="create-form" style="width: 85%;">

        <div>
            <label style="width: 100px">* Type:</label>
            <select class="input-validation-valid" id="type_to_create">
                <option>Bug</option>
                <option>New Feature</option>
            </select>
        </div>

        <div>
            <label style="width: 100px">* Summary:</label>
            <input type="text" class="input-validation-valid" id="summary_to_create" />

        </div>
        <div>
            <label style="width: 100px">* Priority:</label>
            <select class="input-validation-valid" id="priority_to_create">
                <option>High</option>
                <option>Immediate</option>
                <option>Medium</option>
                <option>Low</option>
                <option>On Hold</option>
            </select>
        </div>

         <div>
            <label style="width: 100px">Project Relation:</label>
            <select class="input-validation-valid" id="labels_to_create">
                <option value="ShoppingCart">Shopping Cart</option>
                <option value="JIRA_Integration">JIRA Integration</option>    
                <option value="Development">Development</option>              
            </select>
        </div>

        <div>
            <label style="width: 100px">Description:</label>
            <input type="text" class="input-validation-valid" id="description_to_create" />

        </div>
    </div>
    <div>
        <label style="width: 100px">Attachments:</label>
        <div class="demo-section k-header">
            <div id="files-create">
                <input name="files" id="files" type="file" />
            </div>
        </div>
    </div>
</form>
<br>
<div id="buttons" style="width: 85%; display: inline-block">
    <input type="submit" name="Save" value="Save" id="save" />
    <a href="@Url.Action("Index", "Home")">
        <input style="width: 180px" type="button" value="Cancel / Back to table" />
    </a>
    <span id="messageForCreate" style="color: green"></span>
    <span id="errorMessage" style="color: red"></span>
</div>










