@{
    ViewBag.Title = "IECF";
}
<h2>Hello from the view.</h2>
<link href="~/Content/Layout.css" rel="stylesheet" />
        <link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" />
        <script src="~/Scripts/kendo/kendo.core.min.js"></script>
        <script src="~/Scripts/kendo/kendo.grid.min.js"></script>
        <script src="~/Scripts/kendo/kendo.web.min.js"></script>
<script src="~/Scripts/kendo/kendo.all.js"></script>

<br />
<i>@ViewBag.Message</i>
<br/>
<br/>
@Html.ActionLink("Details", "ContactUs", "Home") 
<br />
@Html.ActionLink("Add Issue", "Index", "Issue")
<div id="grid" style="width: auto; float: left">
</div>

@section scripts{
<script type="text/javascript">
    document.getElementById("header").innerHTML 

    $(document).ready(function () {
        $("#grid").kendoGrid({
            columns: [
                
                {
                    field: "Key",
                    title: "Key",
                    filterable: true,
                    sortable: true
                   
                },
                {
                    field: "Type",
                    title: "Type"
                    
                },
            {
                field: "Summary",
                title: "Summary"
            },
            {
                field: "Priority",
                title: "Priority"
            },
            {
                field: "Status",
                title: "Status"
            },
            {
                field: "Created",
                title: "Date Created"
            },
            {
                field: "Updated",
                title: "Date Updated"
            },
            {
                field: "DateResolved",
                title: "Date Resolved"
            },
            {
                field: "DueDate",
                title: "Due Date"
            }],
            dataSource: {

                transport: {
                    read: function (options) {

                        

                        $.ajax({
                            url: "/Issue/GetIssues",
                            dataType: "json",
                            //data: that.parameterMap(options, "read"),
                            error: function (data) {
                                alert('error:' + data);
                            },
                            type: "GET",
                            success: function (data) {

                                // Call kendo success method
                                options.success(data);

                            }
                        });
                    }
                },
                schema: {
                    model: {
                        //id: "Id",
                        fields: {
                            Key: { type: "string" },
                            Type: { type: "string" },
                            Summary: { type: "string" },
                            Priority: { type: "string" },
                            Status: { type: "string" },
                            Created: { type: "date" },
                            Updated: { type: "date" },
                            DateResolved: { type: "date" },
                            DueDate: { type: "date" }
                        }
                    }
                },
                //data: [
                //    {
                //        Key : "1",
                //        Type: "Bug",
                //        Summary: "Testing1",
                //        Priority: "High",
                //        Status: "In Progress",
                //        DateCreated:"10/09/2014",
                //        DateUpdated:"10/09/2014",
                //        DateResolved:"20/09/2014",
                //        DueDate: "20/09/2014"
                //    },
                //    {
                //        Key: "2",
                //        Type: "Bug",
                //        Summary: "Testing2",
                //        Priority: "High",
                //        Status: "In Progress",
                //        DateCreated: "10/09/2014",
                //        DateUpdated: "10/09/2014",
                //        DateResolved: "20/09/2014",
                //        DueDate: "20/09/2014"
                //    },
                //{
                //    Key: "22",
                //    Type: "Bug",
                //    Summary: "Testing3",
                //    Priority: "High",
                //    Status: "In Progress",
                //    DateCreated: "10/09/2014",
                //    DateUpdated: "10/09/2014",
                //    DateResolved: "20/09/2014",
                //    DueDate: "20/09/2014"
                //},
                //{
                //    Key: "12",
                //    Type: "Bug",
                //    Summary: "Testing4",
                //    Priority: "High",
                //    Status: "In Progress",
                //    DateCreated: "10/09/2014",
                //    DateUpdated: "10/09/2014",
                //    DateResolved: "20/09/2014",
                //    DueDate: "20/09/2014"
                //},
                //{
                //    Key: "123",
                //    Type: "Bug",
                //    Summary: "Testing5",
                //    Priority: "High",
                //    Status: "In Progress",
                //    DateCreated: "10/09/2014",
                //    DateUpdated: "10/09/2014",
                //    DateResolved: "20/09/2014",
                //    DueDate: "20/09/2014"
                //},
                //{
                //    Key: "16",
                //    Type: "Bug",
                //    Summary: "Testing6",
                //    Priority: "High",
                //    Status: "In Progress",
                //    DateCreated: "10/09/2014",
                //    DateUpdated: "10/09/2014",
                //    DateResolved: "20/09/2014",
                //    DueDate: "20/09/2014"
                //},
                //{
                //    Key: "165",
                //    Type: "Bug",
                //    Summary: "Testing7",
                //    Priority: "High",
                //    Status: "In Progress",
                //    DateCreated: "10/09/2014",
                //    DateUpdated: "10/09/2014",
                //    DateResolved: "20/09/2014",
                //    DueDate: "20/09/2014"
                //}],
                pageSize: 3
            },
            groupable: true,
            //filterable: true,
            filterable: {
                messages: {
                    info: "Custom header text:", // sets the text on top of the filter menu
                    filter: "CustomFilter", // sets the text for the "Filter" button
                    clear: "CustomClear", // sets the text for the "Clear" button

                    // when filtering boolean numbers
                    isTrue: "custom is true", // sets the text for "isTrue" radio button
                    isFalse: "custom is false", // sets the text for "isFalse" radio button

                    //changes the text of the "And" and "Or" of the filter menu
                    and: "CustomAnd",
                    or: "CustomOr"
                },
                operators: {
                    //filter menu for "string" type columns
                    string: {
                        eq: "Custom Equal to",
                        neq: "Custom Not equal to",
                        startswith: "Custom Starts with",
                        contains: "Custom Contains",
                        endswith: "Custom Ends with"
                    },
                    //filter menu for "number" type columns
                    number: {
                        eq: "Custom Equal to",
                        neq: "Custom Not equal to",
                        gte: "Custom Is greater than or equal to",
                        gt: "Custom Is greater than",
                        lte: "Custom Is less than or equal to",
                        lt: "Custom Is less than"
                    },
                    //filter menu for "date" type columns
                    date: {
                        eq: "Custom Equal to",
                        neq: "Custom Not equal to",
                        gte: "Custom Is after or equal to",
                        gt: "Custom Is after",
                        lte: "Custom Is before or equal to",
                        lt: "Custom Is before"
                    },
                    //filter menu for foreign key values
                    enums: {
                        eq: "custom Is Equal to",
                        neq: "custom Is Not equal to"
                    }
                }
            },
            scrollable: false,
            sortable: true,
            pageable: true,
            editable: true,
            //toolbar: ["create", "save", "cancel"],
            reorderable: true,
            resizable: true,
            columnMenu: true
            
        });


    });

    
</script>
}

 