@using System.Web
@using System.Web.Optimization

@{
    ViewBag.Title = "IECF";
}
<h2>Hello from Jira view.</h2>
@Scripts.Render("~/bundles/grid")

<link href="~/Content/Layout.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.autosize.js"></script>
<script src="~/Scripts/jquery.autosize.min.js"></script>
<link href="~/Content/kendo/filters.css" rel="stylesheet" />
<script src="~/Scripts/kendo/kendo.core.min.js"></script>
<script src="~/Scripts/kendo/kendo.grid.min.js"></script>
<script src="~/Scripts/kendo/kendo.web.min.js"></script>
<script src="~/Scripts/kendo/kendo.all.js"></script>
<link href="~/Content/kendo/kendo.dataviz.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.dataviz.default.css" rel="stylesheet" />


<br />

<br />

<div id="filterSwitch">Show/Hide Filters</div>
<div id="filterPane">
    <form style="text-align: left">
        <div style="width: 85%; display: inline-block">
            <div>
                <div>
                    <label>Type:</label>
                    <select class="input-validation-valid" id="type">
                        <option value="">All</option>
                        <option value="Bug">Bug</option>
                        <option value="New Feature">New Feature</option>
                    </select>
                </div>
                <div>
                    <label>Priority:</label>
                    <select class="input-validation-valid" id="priority">
                        <option value="">All</option>
                        <option value="High">High</option>
                        <option value="Immediate">Immediate</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                        <option value="On Hold">On Hold</option>
                    </select>
                </div>
                <div>
                    <label>Status:</label>
                    <select class="input-validation-valid" id="status">
                        <option value="">All</option>
                        <option value="Open">Open</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Reopened">Reopened</option>
                        <option value="Resolved">Resolved</option>
                        <option value="Closed">Closed</option>
                    </select>
                </div>

                <div>
                    <label>Created From: </label>
                    <input type="text" id="dateFrom" class="input-validation-valid" placeholder="Created From..." />
                </div>

                <div>
                    <label>Created To: </label>
                    <input type="text" id="dateTo" class="input-validation-valid" placeholder="Created To..." />
                </div>
            </div>
            <input  style="width: auto" type="button" id="refresh" value="Apply" />
        </div>
        
    </form>

</div>


<div id="buttons" style="width: 85%; display: inline-block">
    
    <a href="@Url.Action("Index", "Issue")">
        <input type="button" value="Create Issue" />
    </a>
</div>



   @* <ul>
        <li><a href="#tabs-1">Table</a></li>
        <li><a href="#tabs-2">Details</a></li>
    </ul>*@

    <div id="tabs-1">
        <div id="grid">
            <table id="dataTable" style="width: auto; float: left;">
            </table>
        </div>
    </div>
    <div id="tabs-2">
        <h4>Details</h4>
        <div id="details">

            <div>
                <label style="width:100px">Key:</label>
                <input type="text" id="det_key" />

            </div>

            <div>
                <label style="width:100px">Type:</label>
                <input type="text" id="det_type" />

            </div>

            <div >
                <label style="width:100px">Summary:</label>
                <input type="text" id="det_summary" />
                

            </div>

            <div>
                <label style="width:100px">Description:</label>                
                <textarea  id="det_description"></textarea>
                

            </div>

            <div>
                <label style="width:100px">Status:</label>
                <input type="text" id="det_status" />

            </div>

            <div>
                <label style="width:100px">Priority:</label>
                <input type="text" id="det_priority" />

            </div>

            <div>
                <label style="width:100px">Created:</label>
                <input type="text" id="det_created" />

            </div>

            <div>
                <label style="width:100px">Updated:</label>
                <input type="text" id="det_updated" />

            </div>

            <div>
                <label style="width:100px">Resolved:</label>
                <input type="text" id="det_resolved" />

            </div>

            <div>
                <label style="width:100px">Due:</label>
                <input type="text" id="det_due" />

            </div>
              <br>
            <br>
            <div id="buttons2" style="width: 85%; display: inline-block">
                <input id="hide_det" type="button" value="Hide details" />                
                <input type="button" id="edit_mode" value="Edit" />
                <input type="button" id="edit" value="Save" />
                 <span  id="message" style="color:green"></span>
            </div>
            

          
        </div>
    </div>




@section scripts{
    <script type="text/javascript">
        document.getElementById("header").innerHTML


    </script>
}

